# SPDX-FileCopyrightText: Copyright (C) 2025 Advanced Micro Devices, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

/my_install*
/ironenv*
/cmakeModules*
.vscode
__pycache__
.DS_Store
**/CMakeFiles
*.bin
build/*
**/_build/**
**/build/**
*.exe
*.csv
secret_*
id_ed25519
id_ed25519.pub
*.log
*.safetensors
*.model
.cline_storage
