# SPDX-FileCopyrightText: Copyright (C) 2025 Advanced Micro Devices, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

# The mlir-aie and LLVM-AIE (Peano) wheels are not on the official PyPI, so we
# find them on their release pages.
--find-links https://github.com/Xilinx/mlir-aie/releases/expanded_assets/latest-wheels-4
--find-links https://github.com/Xilinx/llvm-aie/releases/expanded_assets/nightly

mlir_aie==1.4.5.dev22+g35fa6b1
llvm-aie==22.0.0.2026100501+94b320c0

black
reuse
pytest
pytest-xdist

# Install the local python code as the package "iron"
-e .
